{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}

    <div class="jumbotron">
    <h1>Caro(a) {{ current_user.name }},</h1>
    <p class="lead">aqui você poderá administrar as pessoas autorizadas.</p>
    <p><a class="btn btn-lg btn-success" href="{{ url_for('registerReleased', username=current_user.username) }}" role="button">Create</a>
    <a class="btn btn-lg btn-info" href="{{ url_for('readReleased', username=current_user.username) }}" role="button">Read</a>
    <a class="btn btn-lg btn-warning" href="{{ url_for('updateReleased', username=current_user.username) }}" role="button">Update</a>
    <a class="btn btn-lg btn-danger" href="{{ url_for('deleteReleased', username=current_user.username) }}" role="button">Delete</a></p>
    
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
          <h4>Segurança</h4>
          <p>O SAI conta com algoritmos avançados de reconhecimento facial tornando seu estabelecimento muito mais seguro.</p>
  
          <h4>Distanciamento social</h4>
          <p>Ajude na prevenção de contágio do COVID-19. Mantenha uma distância segura.</p>        
  
          <h4>Agilidade</h4>
          <p>Acabe com as filas, faça o controle de acesso com mais fluidez.</p>
        </div>
  
        <div class="col-lg-6">
          <h4>Escalabilidade</h4>
          <p>Tenha um perfil para cada filial, tornando os controles independentes.</p>
  
          <h4>Redução de custos</h4>
          <p>Diminua a folha de pagamento automatizando o controle de acesso de sua empresa.</p>
  
          <h4>Flexibilidade</h4>
          <p>Monte sua whitelist de acordo com as necessidades da sua empresa.</p>
          
        </div>
      </div>


    
  
{% endblock %}